@{
    ViewData["Title"] = "Innowise Meetup";
}

<div class="row">
    <div class="col-sm-7">
        <div class="row">
            <div class="h2" style="color:white;">Questions</div>
        </div>
        <div class="row tabs" id="questions-tabs">
            <ul class="nav nav-pills tabs__caption" id="questionsTab" role="tablist">
                @{
                    int counter = 0;
                    @foreach (PresentationModel presentation in ViewBag.Presentations)
                    {
                        string topicName = "topic" + counter;
                        if (counter == 0)
                        {
                           <li class="nav-item active">
                            <a class="nav-link active" id="@topicName" href="#@topicName" aria-current="page">@presentation.Title</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" id="@topicName" href="#@topicName" >@presentation.Title</a>
                            </li> 
                        }

                        counter++;
                    }
                }@*
                <li class="nav-item active">
                    <a class="nav-link active" id="topic1-tab" href="#topic1" aria-current="page">Topic 1</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="topic2-tab" href="#topic2">Topic 2</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="topic3-tab" href="#topic3">Topic 3</a>
                </li> 
                <li class="nav-item">
                    <a class="nav-link" id="topic-general-tab" href="#topic0">Out of Topic</a>
                </li>*@
            </ul>
        </div>
        <div class="row">
            <div class="tab-content" id="myTabContent">
                @if (ViewBag.GroupedQuestions != null && ViewBag.GroupedQuestions.Count > 0)
                {
                    int groupCounter = 0;
                    foreach (KeyValuePair<Guid, List<QuestionModel>> questionsForPresentation in ViewBag.GroupedQuestions)
                    {
                        bool isFirstItem = groupCounter == 0;
                        <div class="tab-pane tabs__content @(isFirstItem ? "active" : "")">
                            <div class="messages-container" id="presentation-@questionsForPresentation.Key">
                                @if (questionsForPresentation.Value != null && questionsForPresentation.Value.Count > 0)
                                {
                                    foreach (QuestionModel question in questionsForPresentation.Value)
                                    {
                                        <div class="media message">
                                            <img src="~/content/person.png" class="mr-3" alt="...">
                                            <div class="media-body text-break text-justify">
                                                
                                                <h5 class="mt-0">@question.AuthorName</h5>
                                                @question.QuestionText
                                                <span class="message-date float-right">@question.Asked.ToString("hh:mm:ss yyyy/MM/dd")</span>
                                            </div>
                                        </div>
                                    }
                                }
                                else
                                {
                                    <div class="media message">
                                        <img src="~/content/person.png" class="mr-3" alt="...">
                                        <div class="media-body text-break">
                                            <h5 class="mt-0">У матросов нет вопросов</h5>
                                            Ой, совсем нет вопросов! Докладчик молодец :) <br />
                                            <span class="message-date float-right">@DateTime.Now.ToString("hh:mm:ss yyyy/MM/dd")</span>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        groupCounter++;
                    }
                }
               
                           </div>
        </div>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-4">
        <div class="h2" style="color:white;">Feedbacks</div>
        <div class="messages-container" id="feedbacks-container">
            @if (ViewBag.Feedbacks != null && ViewBag.Feedbacks.Count > 0)
            {
                foreach (FeedbackModel feedback in ViewBag.Feedbacks)
                {
                    <div class="media message">
                        <img src="~/content/person.png" class="mr-3" alt="...">
                        <div class="media-body text-justify text-break">
                            <h5 class="mt-0">@feedback.AuthorName</h5>
                            @feedback.Message
                            <h6 class="mt-1">Future Proposal:</h6>
                            @feedback.FutureProposal<br />
                            <span class="message-date float-right">@feedback.Sent.ToString("hh:mm yyyy/MM/dd")</span>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>